{% load static %}

<div class="chart-container" style="width:70vw">
    <h1>{{ figure_header }}</h1>
    <canvas id="myChart"></canvas>
</div>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>

    $.get('{% url "line_chart_json" %}?model={{ model }}&ids={{ ids }}', function(data) {
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line', data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 5,
                            max: 5,
                            min: 0,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Absorption'
                        }
                    }],
                    xAxes: [{
                        
                        scaleLabel: {
                            display: true,
                            labelString: 'Wavelength (nm)'
                        }
                    }]
                }
            }
        });
    });

</script>

