{% load static %}

<div class="chart-container" style="width:70vw">
    <h1>{{ figure_header }}</h1>
    <progress id="animationProgress" max="1" value="0" style="width: 100%"></progress>
    <canvas id="myChart"></canvas>
    
</div>
<button onclick="reset_data(this)" class="">Reset</button>
<button onclick="reverse(this)" class="">Reverse</button>
<button onclick="full_resl(this,'H')" class="">High resloution</button>
<button onclick="full_resl(this,'L')" class="">Low resloution</button>
<button onclick="toggle_label(this)" class="">Label</button>
<script src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script>
    var progress = document.getElementById('animationProgress');

    function start_progress() {
        step=0.1;
        this.progress.value= ((this.progress.value + step) >1) ? 0 : (this.progress.value + step) ;
    }; 
    var setProg = setInterval(start_progress, 900);
    
    $.get('{% url "line_chart_json" %}?model={{ model }}&ids={{ ids }}{% if plot_mode == "detail" %}&mode=detail{% endif %}', function(data) {
        clearInterval(setProg)
        Gdata = data
        var ctx = $("#myChart").get(0).getContext("2d");
        chart = new Chart(ctx, {
            type: 'line', data: data,
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Absorbance'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Wavelength (nm)'
                        }
                    }]
                },
                animation: {
                    duration: 2000,
                    onProgress: function(animation) {
                        progress.value = (animation.currentStep / animation.numSteps)*(1-progress.value) +progress.value;
                    },
                    onComplete: function(animation) {
                        $( "progress#animationProgress" ).hide();
                    }
                }
            }
        });

    });

    function reset_data() {
        $.get('{% url "line_chart_json" %}?model={{ model }}&ids={{ ids }}{% if plot_mode == "detail" %}&mode=detail{% endif %}', function(data) {
            Gdata = data
            chart.data.labels = Gdata['labels'];
            chart.data.datasets.forEach(function(dataset, index) {
                dataset.data = Gdata['datasets'][index]["data"];
                dataset.pointRadius = 3
            });
            chart.update();
        });

    };
            
    function reverse() {
        // var ds = JSON.parse(Gdata['datasets'])
        chart.data.labels.reverse();
        chart.data.datasets.forEach(function(dataset, index) {
            const u=[];
            // Gdata['datasets'][index]["data"].forEach( function (val){u.push(val*val)});
            dataset.data = Gdata['datasets'][index]["data"].reverse();
        });
        chart.update();
	};

    function full_resl(obj,resl) {
        $.get('{% url "line_chart_resl" %}?model={{ model }}&ids={{ ids }}{% if plot_mode == "detail" %}&mode=detail{% endif %}&resl='+resl, function(data) {
            Gdata = data;
            chart.data.labels = Gdata['labels'];
            chart.data.datasets.forEach(function(dataset, index) {
                dataset.data = Gdata['datasets'][index]["data"];
                if (resl == 'H') { dataset.pointRadius = 0 }
                else { dataset.pointRadius = 3}
            });
            chart.update();
        });
    
    };

    function toggle_label(obj) {
        chart.options.legend.display= !chart.options.legend.display;
        chart.update();
    };

</script>
