{% load static %}

<div class="chart-container" style="width:70vw">
    <h1>{{ figure_header }}</h1>
    <canvas id="myChart"></canvas>
</div>
<button onclick="reset_data(this)" class="">Reset</button>
<button onclick="reverse(this)" class="">Reverse</button>
<script src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>

    $.get('{% url "line_chart_json" %}?model={{ model }}&ids={{ ids }}{% if plot_mode == "detail" %}&mode=detail{% endif %}', function(data) {
        Gdata = data
        var ctx = $("#myChart").get(0).getContext("2d");
        chart = new Chart(ctx, {
            type: 'line', data: data,
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Absorbance'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Wavelength (nm)'
                        }
                    }]
                }
            }
        });
        // eslint-disable-next-line no-unused-vars

    });

    function reset_data() {
        $.get('{% url "line_chart_json" %}?model={{ model }}&ids={{ ids }}{% if plot_mode == "detail" %}&mode=detail{% endif %}', function(data) {
            Gdata = data
            chart.data.datasets.forEach(function(dataset, index) {
                dataset.data = Gdata['datasets'][index]["data"];
            });
            chart.update();
        });

    };
            
    function reverse() {
            // var ds = JSON.parse(Gdata['datasets'])
			chart.data.datasets.forEach(function(dataset, index) {
                const u=[];
                // Gdata['datasets'][index]["data"].forEach( function (val){u.push(val*val)});
                dataset.data = Gdata['datasets'][index]["data"].reverse();
			});
			chart.update();
		}

</script>

