{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ verbose_name }}</a>
    {% if model_id %}
    &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}{{ model|lower }}/{{ model_id }}/change/">{{ index_text|title }}</a>
    {% endif %}
    &rsaquo; {{ verbose_name_plural|capfirst }}
    
    </div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}


{% block content %}
    {# include "change_list.html" #}
    {% if scartter %}
        {% include "admin/chartjs_scartter.html" %}
    {% elif pls_modeling %}
        {% include "admin/pls_chartjs_scatter.html" %}
    {% else %}
        {% include "admin/chartjs_line.html" %}
    {% endif %}
{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Figure Actions</h2>
        <h3>My figure action</h3>
            <p>{% translate 'None available' %}</p>
            
        
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="footer" class="site-footer">       
    <p> Copyright &copy; 2021 All rights reserved by AlliedScientificPro </p>
</div>
{% endblock %}