{% load static %}
<style>
    h4{
        color:#447e9b;
    }

</style>
<ul class="messagelist">

</ul>
<div class="chart-container">
    <h1>{{ figure_header }}</h1>
    {% if not pca_model %}
    <h4>We have {{ spec_num }} spectra and {{ group_num }} groups, comp. of PCA model is {{ components }} </h4>
    {% else %}
    <h4>The number of components of this PCA model is {{ components }} </h4>
    {% endif %}
    <progress id="animationProgress" max="1" value="0" style="width: 100%"></progress>
    <canvas id="myChart"></canvas>
</div>
<button onclick="toggle_label()" id="toggle_label">Hide Label</button>
<script src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>

    var progress = document.getElementById('animationProgress');
    var setProg = setInterval(start_progress, 300);
    function start_progress() {
        step=0.1;
        this.progress.value= this.progress.value + step ;
        if (this.progress.value >1) {
            clearInterval(setProg)
        }
    };

    var hide_by_color = function (e, legendItem) {
        var index = legendItem.datasetIndex;
        let ci = this.chart;
        var color=ci.data.datasets[index].pointBackgroundColor;
        ci.data.datasets.forEach(function(meta) {
            if (meta.pointBackgroundColor == color) {
                meta.hidden = meta.hidden === null ? !meta.hidden : null;
            }
        });
        ci.update();
    };

    $.get('{% url "master_pca_chart" %}?model={{ model }}{% if match_master %}&id={{ obj_id }}&match_id={{ id }}{% endif %}{% if pca_match %}&spec_from={{ spec_from }}{% endif %}{% if spec_chosen %}&spec_id={{ spec_id }}{% endif %}', function(data) {
        clearInterval(setProg)
        color=data.color_ix
        Gdata = data
        var cv = $("#myChart").get(0)
        var ctx = cv.getContext("2d");
        chart = new Chart.Scatter(ctx, {
            type: "line",
            data:data,
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Second component'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'First component'
                        }
                    }]
                },
                legend: {
                    labels:{
                        usePointStyle: true,
                        filter: function(item, chart){
                            return color.includes(item.datasetIndex);
                            // return item.datasetIndex == data.datasets.length-1;
                        }
                    },
                    onClick: hide_by_color,

                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += ': ';
                            }
                            label += '(' + Math.round(tooltipItem.xLabel*100)/100 + ', ' + Math.round(tooltipItem.yLabel*100)/100 + ')';
                            return label;
                        }
                    }
                },
                hover:{
                    onHover:function(e){
                        var point = this.getElementAtEvent(e);
                        if(point.length) e.target.style.cursor = 'pointer';
                        else e.target.style.cursor = 'default';
                    }
                },
                animation: {
                    duration: 100,
                    onProgress: function(animation) {
                        progress.value = (animation.currentStep / animation.numSteps)*(1-progress.value) +progress.value;
                    },
                    onComplete: function(animation) {
                        $( "progress#animationProgress" ).hide();
                    }
                }
            }
        });
        chart.config.data.datasets[data.datasets.length-1].pointStyle='rect'
        chart.config.data.datasets[data.datasets.length-1].pointRadius=8
        chart.update()
    });

    function toggle_label() {
        chart.options.legend.display= !chart.options.legend.display;
        $("#toggle_label").text($("#toggle_label").text()==="Hide Label"?"Show Label":"Hide Label");
        chart.update();
    };
</script>
