{% load static %}
<ul class="messagelist">

</ul>
<div class="chart-container">
    <h1>{{ figure_header }}</h1>
    <canvas id="myChart"></canvas>
</div>

<script src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>

    $.get('{% url "master_pca_chart" %}', function(data) {
        Gdata = data
        var ctx = $("#myChart").get(0).getContext("2d");
        chart = new Chart.Scatter(ctx, {
            type: "line",
            data:data,
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Second component'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'First component'
                        }
                    }]
                },
                legend: {
                    labels:{
                        filter: function(item, chart){
                            return item.datasetIndex == data.datasets.length-1;
                        }
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += ': ';
                            }
                            label += '(' + Math.round(tooltipItem.xLabel*100)/100 + ', ' + Math.round(tooltipItem.yLabel*100)/100 + ')';
                            return label;
                        }
                    }
                }
            }
        });
        chart.config.data.datasets[data.datasets.length-1].pointStyle='triangle'
        chart.config.data.datasets[data.datasets.length-1].pointRadius=12
<!--        chart.config.data.datasets[data.datasets.length-1].pointBackgroundColor='#6a3d9a'-->
        chart.update()
    });


</script>
