{% load static %}

<style>
body {
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  margin: 50px 0;
}

.container {
  max-width: 700px;
}

li{
margin-top: 1em;
}


label{
font-size:14px;
font-weight:700;
}

.group_title img{
margin-bottom:-5px;
margin-right:5px;
width:20px;
}

.group_title ul{
<!--display:none;-->
}

.spectra_list{
display:none;
}

.container ul li, .group_title ul li{
list-style-type:none;
}

</style>

{% block content %}
<h1> Apply this model to match an uploaded spectrum:</h1>
    <div class="chart-container">
        <form action="{% url 'pca_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" id="pca_for_matching" name="pca_for_matching">
            <input type="hidden" name="pca_id" value="{{ ids }}">
            <input type="submit" value="Upload">
        </form>
    </div>
{% endblock %}


<h1> Apply this model to match the selected spectra:</h1>
<div class="container">
    <ul>
    {% for profile in group %}
      <li class="group_title">
         <a href="javascript:void(0);"><span class="addimage"><img src="{% static 'admin/img/add.png' %}"></span></a><input type="checkbox" id="option_{{ profile.id }}" value="p_{{ profile.id }}"><label> {{ profile.name }}</label>
        <ul class="spectra_list">
        {% for spectrum in profile.spectra %}
          <li><label><input type="checkbox" class="subOption_{{ profile.id }}" value="s_{{ spectrum.id }}"> {{ spectrum.origin }}</label></li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
    <input type="hidden" name="master_pca" value="master_pca" />
</div>

<div class="submit-row">

    <!-- <input type="submit" value="Save" class="default" name="_save"> -->
    
        
        <p class="deletelink-box"><a href="/admin/predictionModel/{{ model|lower }}/{{ ids }}/delete/" class="deletelink">Delete</a></p>
    
    
    <input onclick="test_model(this)" value="Apply the model to the selected testing set" name="_addanother">
    <!-- <input type="submit" value="Save and continue editing" name="_continue"> -->
    
    
</div>

<script>
{% for profile in group %}
var checkboxes_{{ profile.id }} = document.querySelectorAll('input.subOption_{{ profile.id }}'),
    checkall_{{ profile.id }} = document.getElementById('option_{{ profile.id }}');

for(var i=0; i<checkboxes_{{ profile.id }}.length; i++) {
  checkboxes_{{ profile.id }}[i].onclick = function() {
    var checkedCount = document.querySelectorAll('input.subOption_{{ profile.id }}:checked').length;

    checkall_{{ profile.id }}.checked = checkedCount > 0;
    checkall_{{ profile.id }}.indeterminate = checkedCount > 0 && checkedCount < checkboxes_{{ profile.id }}.length;
  }
}

checkall_{{ profile.id }}.onclick = function() {
  for(var i=0; i<checkboxes_{{ profile.id }}.length; i++) {
    checkboxes_{{ profile.id }}[i].checked = this.checked;
  }
}
{% endfor %}



function test_model() {
    spectra=$("input[value^='s_']");
    ids='';
    pca_for_matching=$('#pca_for_matching');
    spectra.each(function(index,elm) {if (elm.checked) {ids+=elm.value.replace('s_',',')}})
    if('{{ model }}'=='PlsModel'){
    location.replace("{% url 'pls_test' %}?model={{ model }}&ids="+ids.replace(',','')+"&model_id={{ ids }}")}
    else if(pca_for_matching){
        location.replace("{% url 'masterpca' %}?model={{ model }}&ids="+ids.replace(',','')+"&model_id={{ ids }}")
    }
    else{
    location.replace("{% url 'pca_test' %}?model={{ model }}&ids="+ids.replace(',','')+"&model_id={{ ids }}")
    }
}

$(document).ready(function(){
    $('.group_title>a').click(function(){
        var ulNode=$(this).nextAll('ul:first');
        if(ulNode.css('display')=='none'){
            ulNode.css('display','block');
            $('.addimage',this).html("<img src="+"{% static 'admin/img/diminish.png' %}>");
        }else{
            ulNode.css('display','none');
            $('.addimage',this).html("<img src="+"{% static 'admin/img/add.png' %}>");
        }
    });
});
</script>