{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }} - {{ cl.opts.app_label }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
          {% block object-tools-items %}
            {% change_list_object_tools %}
          {% endblock %}
        </ul>
    {% endblock %}
    {% if cl.formset and cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <div class="changelist-form-container">
        {% block search %}{% search_form cl %}{% endblock %}
        {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}

        <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
         <style>
          .selectAll{
          background:#e6e6e6;
          padding:10px 0 10px 30px;
          margin:30px 0 10px 0;
          }
          #listContainer{
             display:flex;
             flex:1;
             flex-wrap:wrap;
          }
          .gallery{
            margin: 5px;
            border: 1px solid #ccc;
          }
          .actionButton{
          margin: 2px 0 2px 2px;
          padding: 2px 3px;
          vertical-align: middle;
          font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
          font-weight: normal;
          font-size: 13px;
          background: #79aec8;
          border: none;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
          }

          .changeToBigPic{
           background: #e6e6e6;
          padding:10px 0 10px 10px;
          margin:30px 0 10px 0;
          }
        </style>
        <script>
        function toggle(source){
          var allCheckboxes=document.querySelectorAll('input[name="_selected_action"]');
          for(var checkbox of allCheckboxes){
            checkbox.checked=source.checked;
          }
        }
        </script>
        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            <div class="results">
                <div id="result_list">
                    {% if is_big_pic %}
                    <div class='selectAll'>
                        <input id="allSelector" type="checkbox" onclick="toggle(this)" style="margin-right:10px" /><span id="togglePic">Select all spectra</span>
                        <form action="post">
                            <input id="changeToSmallPic" type="submit" name="smallPic" style="margin-left:60px" value="Change to small picture view"  />
                        </form>
                    </div>
                     <div id='listContainer'>
                          {% for spectrum in cl.queryset %}
                          <div class='gallery'>
                            <a href="/admin/core/spectrum/{{spectrum.id}}/change">
                              {% if spectrum.spec_pic != '' and spectrum.spec_pic != None %}
                              <img src="{% static 'admin/media/'%}{{spectrum.spec_pic}}"  alt="" width="240" height="160">
                              {% else %}
                              <img src="{% static 'admin/media/spectrum_default.png' %}" alt="" width="240" height="160">
                              {% endif %}
                            </a>
                            <div class="action-checkbox">
                              <input type="checkbox" name="_selected_action" value="{{spectrum.id}}" class="action-select" style="margin:10px">
                              <a href="/admin/core/spectrum/{{spectrum.id}}/change"><label style="font-weight:700">{{spectrum.origin}}</label></a>
                            </div>
                          </div>
                          {% endfor %}
                    </div>
                    {% else %}
                    <div class="changeToBigPic"><img src="{% static 'admin/img/image.svg'%}" style="width:15px;color:#999;margin:0 10px -3px 10px"><a href="/admin/core/spectrum/">Change to big picture view</a></div>
                    {% result_list cl %}
                    {% endif %}
                </div>
            </div>
        {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
      </div>
      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% translate 'Filter' %}</h2>
            {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
              <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
            </h3>{% endif %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}


