{% load static %}

<style>
body {
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  margin: 50px 0;
}

.container {
  max-width: 700px;
}

li{
margin-top: 1em;
}


label{
font-size:14px;
font-weight:700;
}

.group_title img{
margin-bottom:-5px;
width:20px;
}

.group_title ul{
<!--display:none;-->
}

.spectra_list{
display:none;
}

.container ul li, .group_title ul li{
list-style-type:none;
}

</style>

{% block content %}
<h1> Apply this model to match an uploaded spectrum:</h1>
    <div class="chart-container">
        <form action="{% url 'pca_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" id="pca_for_matching" name="pca_for_matching">
            <input type="hidden" name="pca_id" value="{{ ids }}">
            <input type="submit" value="Upload">
        </form>
    </div>

{% endblock %}

<h1> Or apply this model to match the selected spectra:</h1>
<div class="container">
    <ul>
    {% for profile in group %}
      <li class="group_title">
        <a href="javascript:void(0);"><span class="addimage"><img src="{% static 'admin/img/add.png' %}"></span></a> <label> {{ profile.name }}</label>
       <ul class="spectra_list">
        {% for spectrum in profile.spectra %}
          <li><label><input type="radio" class="subOption_{{ profile.id }}" value="{{ spectrum.id }}" name="spectrum_to_match"> {{ spectrum.origin }}</label></li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
<!--    <input type="hidden" name="master_pca" value="master_pca" />-->
</div>

<div class="submit-row">

    <!-- <input type="submit" value="Save" class="default" name="_save"> -->
        
        <p class="deletelink-box"><a href="/admin/predictionModel/{{ model|lower }}/{{ ids }}/delete/" class="deletelink">Delete</a></p>
    
    <input onclick="test_model(this)" value="Apply the model to the selected testing set" name="_addanother">
    <!-- <input type="submit" value="Save and continue editing" name="_continue"> -->
    
    
</div>

<script>

function test_model() {
    var spec_selected_id=$(".spectra_list input[type='radio']:checked").val();
    location.replace("{% url 'pca_match' %}?model={{ model }}&spec_from=spec_chosen&spec_id="+spec_selected_id);
};

$(document).ready(function(){
    $('.group_title>a').click(function(){
        var ulNode=$(this).nextAll('ul:first');
        if(ulNode.css('display')=='none'){
            ulNode.css('display','block');
            $('.addimage',this).html("<img src="+"{% static 'admin/img/diminish.png' %}>");
        }else{
            ulNode.css('display','none');
            $('.addimage',this).html("<img src="+"{% static 'admin/img/add.png' %}>");
        }
    });
});


</script>